/* Globals */

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Overpass', sans-serif;
    background: #bbbbbb;
    background: -moz-linear-gradient(left, #bbbbbb 0%, #ededed 50%, #bbbbbb 100%);
    background: -webkit-linear-gradient(left, #bbbbbb 0%, #ededed 50%, #bbbbbb 100%);
    background: linear-gradient(to right, #bbbbbb 0%, #ededed 50%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#bbbbbb',GradientType=1 );
    color: #30363b;
}

p {
    margin: 0.6em 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-green {
    background: #008100;
    font-weight: 300;
    border: none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: .3em 0.6em;
    color: #ffffff;
    font-size: 1em;
}

.clearfix {
    clear: both;
}

/* Open Shift Box */
.panel-box {
    border: 2px solid rgba(255, 255, 255, 0.6);
    max-width: 35%;
}

.panel-box header {
    min-height: 50px;
    clear: both;
    background: #c00000;
    background: -moz-linear-gradient(top, #c00000 0%, #470000 100%);
    background: -webkit-linear-gradient(top, #c00000 0%, #470000 100%);
    background: linear-gradient(to bottom, #c00000 0%, #470000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#470000',GradientType=0 );
}

.panel-box header #title {
    margin-top: 0;
    padding: 0.7em 0 0 1em;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.1em;
    float: left;
}

.panel-box .nav {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel-box .nav li {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.panel-box .nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    padding: 0.7em 1em;
    min-height: 27px;
    display: inline-block;
    font-weight: 300;
}

.panel-box .nav li a:hover, .panel-box .nav li a:focus {
    background: #c00000;
    background: -moz-radial-gradient(center, ellipse cover, #c00000 0%, #470000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #c00000 0%, #470000 100%);
    background: radial-gradient(ellipse at center, #c00000 0%, #470000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#470000',GradientType=1 );
}

.panel-box .nav li a.active {
    background: #c00000;
    background: -moz-radial-gradient(center, ellipse cover, #c00000 0%, #470000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #c00000 0%, #470000 100%);
    background: radial-gradient(ellipse at center, #c00000 0%, #470000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c00000', endColorstr='#470000',GradientType=1 );
}

.panel-box content {
    background: #ffffff;
}

.panel-box section {
    background: #ffffff;
    padding: 1em 1.4em;
}

.panel-box section h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2em;
}

.panel-box #details {
    margin-top: 2em;
}

.panel-box .property, .panel-box .description {
    float: left;
    min-height: 1px;
}

.panel-box .property {
    width: 30%;
    font-weight: bold;
}

.panel-box .description {
    font-weight: 300;
}

/* Responsive */

@media (max-width: 995px) {
    .panel-box {
        max-width: 60%;
    }
}

@media (max-width: 600px) {
    .panel-box {
        max-width: 80%;
    }
}